__pycache__
.ipynb_checkpoints
env
susp
good
mal
New folder
=3.7
main.py
example.py
mouth-open.py
proctoring_module_1.py
proctoring_module.py
proc.py
Python - OOP's concept.ipynb
Untitled.ipynb
WIN_20220926_13_32_10_Pro.mp4
./vscode
Result.csv
AppResult
